@import "tailwindcss";

:root {
  --background: #f3f4f6;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #f3f4f6;
    --foreground: #171717;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: 'PyeojinGothic-Bold', sans-serif;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 393px;
  margin: 0 auto;
  min-height: 100vh;
  background: white;
  position: relative;
}

.app-content {
  padding: 20px;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: none;
}

@font-face {
  font-family: 'PyeojinGothic-Bold';
  src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/2504-1@1.0/PyeojinGothic-Bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
}
